:root {
	--accent-light-color: #854798;
	--accent-color: #7c238c;
	--base-dark-color: #4c424f;
	--base-light-color: #e9e1eb;

	--accent-light-color-filter: brightness(0) saturate(100%) invert(36%) sepia(25%) saturate(1290%) hue-rotate(241deg) brightness(91%) contrast(92%);
	--accent-color-filter: brightness(0) saturate(100%) invert(19%) sepia(67%) saturate(1867%) hue-rotate(268deg) brightness(98%) contrast(103%);
	--base-dark-color-filter: brightness(0) saturate(100%) invert(24%) sepia(23%) saturate(357%) hue-rotate(241deg) brightness(91%) contrast(83%);
	--base-light-color-filter: brightness(0) saturate(100%) invert(88%) sepia(21%) saturate(88%) hue-rotate(239deg) brightness(105%) contrast(84%);
	/*
		if colors are changed filters must be updated
		filters calculated using https://codepen.io/sosuke/pen/Pjoqqp
		filters used to set color of svg images

		***
		Prepend each filter with "brightness(0) saturate(100%)"
		so that any image will first be set to completely black, ensuring image colors are filtered properly
		***
	*/
}
#page-body {
	height: 50vh;
	display: flex;
	justify-content: center;
}
.account-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-between;
	border: solid var(--base-light-color) 2px;
	width: 55vw;
	background-color: var(--base-dark-color);
	color: var(--base-light-color);
}

.account-info-values {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.account-info-container button {
	border: solid var(--accent-color) 2px;;
	background-color: var(--accent-light-color);
	color: var(--accent-color);
	margin: 0px 5px;
}
.account-info-buttons{
	margin-bottom: 5px;
}
.account-info-container button:hover, .account-info-container button:focus {
	cursor: pointer;
}
.value-item {
	display: flex;
	flex-direction: row;
}
.value-label{
	flex: 1 1 0px;
}
.value-value {
	flex: 1 1 0px;
	
	color: var(--base-light-color);
	border: solid var(--base-light-color) 2px;
	background-color: var(--base-dark-color);
}
.value-value-edit {
	border-color: var(--accent-color);
	background-color: var(--accent-light-color);
	color: var(--accent-color);
}