:root {
	--accent-light-color: #854798;
	--accent-color: #7c238c;
	--base-dark-color: #4c424f;
	--base-light-color: #e9e1eb;

	--accent-light-color-filter: brightness(0) saturate(100%) invert(36%) sepia(25%) saturate(1290%) hue-rotate(241deg) brightness(91%) contrast(92%);
	--accent-color-filter: brightness(0) saturate(100%) invert(19%) sepia(67%) saturate(1867%) hue-rotate(268deg) brightness(98%) contrast(103%);
	--base-dark-color-filter: brightness(0) saturate(100%) invert(24%) sepia(23%) saturate(357%) hue-rotate(241deg) brightness(91%) contrast(83%);
	--base-light-color-filter: brightness(0) saturate(100%) invert(88%) sepia(21%) saturate(88%) hue-rotate(239deg) brightness(105%) contrast(84%);
	/*
		if colors are changed filters must be updated
		filters calculated using https://codepen.io/sosuke/pen/Pjoqqp
		filters used to set color of svg images

		***
		Prepend each filter with "brightness(0) saturate(100%)"
		so that any image will first be set to completely black, ensuring image colors are filtered properly
		***
	*/
}

.hide-tab {
	display: none;
}
#page-header + * {
	margin-top: 313px;
}
#admin-navbar-container{
	height: 100px;
	border-top: solid 4px var(--base-light-color);
}
#admin-navbar-container > ul{
	display: flex;
  width: 100%;
	height: 100%;
}
#admin-navbar-container > ul > li {
	flex: 1;
	display: flex;
	justify-content: center;
	background-color: var(--base-dark-color);
}
#admin-navbar-container > ul > li > button {
	color: var(--base-light-color);
	height: 100%;
	width: 100%;
}
#admin-navbar-container > ul > li > button.active {
	background-color: var(--accent-color);
}
#admin-navbar-container > ul > li >button:hover, #admin-navbar-container > ul > li > button:focus {
	cursor: pointer;
	background-color: var(--accent-color);
}
#tab-container {
	width: 75vw;
	height: 75vh;
	margin: auto;
	border: solid var(--base-light-color) 2px;
}
#home-tab, .tab-content, #home-tab-message {
	height: 100%;
}
#home-tab-message{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#home-tab-message > .tab-description-container{
	width: 75%;
	border: solid 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tab-description-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tab-description-container > .tab-description-list > .tab-description-option {
	list-style-type: none;
}