:root {
	--main-color: #854798;
	--secondary-color: #7c238c;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

#page-title{
	text-align: center;
}
#page-title-container{
  background-color: var(--secondary-color);
	position: relative;
}
#login-modal-window-open{
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: var(--secondary-color);
	height: 100%;
	color: var(--main-color);
	border-style: solid;
	border-width: 0px 0px 5px 5px;
	border-color: var(--main-color);
}
#login-modal-window-open:hover, #login-modal-window-open:focus{
	background-color: var(--main-color);
	color: var(--secondary-color);
}
body{
	background-color: var(--main-color);
	height: 100%;
}